body{
    margin: 0 auto;
    width: 1349px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

header{
    padding: 10px 0 10px 10px ;
    background-color: black;
}

.logo{
    float: left;
    margin-left: 20px;
}

.name{
    display: inline-block;
    color: rgb(133, 52, 52);
    line-height: 10px;
    margin-left: 10px;
}

.menu{
    float: right;
}

.menu ul{
    margin-top: 14px;
}

.menu li{
    display: inline-block;

}

a{
    color: white;
    text-decoration: none;
    padding:  24px;
}

a:hover{
    background-color: rgb(133, 52, 52);
}

.container_1{
    background-image: url("images/desk.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 509px;
    text-align: center;
}

.text{
    background-color: rgb(0, 0, 0, 0.8);
    display: inline-block;
    margin-top: 100px;
    width: 800px;

}
.container_1 h1{
   display: inline-block;
   margin-top: 50px;
   color: wheat;
}

.container_1 h4{
    display: inline-block;
    color:  white;
 }

.container_2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 3em;
}

.my_picture img{
    width: 50%;
    border: solid wheat 5px;
    margin-left: 200px;
    border-radius: 10px;
}

.about{
    margin-left: 100px;
    margin-top: -10px;
    color: white;
    text-align: justify;
    width: 600px;
    line-height: 30px;
}

.container_3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 0;

}
.container_3 .card{
    height: 180px;
}
.container_3 .card img{
    height: 180px;
    width: 350px;
    margin-left: 325px;
}

.container_3 h2{
    text-align: center;
    height: 180px;
    width: 350px;
    background-color: white;
    margin: 0;
}

.container_4 img {
    display: block;
    vertical-align: middle;
    width: 400px;
    height: 556px;
    margin-left: auto;
    margin-right: auto;
}

/* Position the image container (needed to position the left and right arrows) */
.container_4 {
    height: 556px;
    position: relative;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(246, 242, 242, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.container_5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.container_5 .card img{
    margin-left: 115px;
    width: 220px;
    height: 270px;
}

.container_5 .card p{
    width: 220px;
    text-align: center;
    background-color: white;
    display: inline-block;
    padding: 2px 0;
    margin: 0;
    margin-left: 115px;
}

.container_6{
    padding: 20px 100px 20px 100px;
    margin-left: 300px;
}

input[type=text], select, textarea {
    display: block;
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(133, 52, 52);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: white;
    color: rgb(133, 52, 52);
}

label{
    color: white;
}

.footer {
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: white;
}